<div *ngIf="matrix.length > 0" class="matrix__wrapper">
  <div class="matrix">
    <button (click)="addRow()" class="matrix__btn">Add row</button>
    <table class="matrix__table">
      <tr>
        <th>№</th>
        <th *ngFor="let _ of matrix[0]; let colIndex = index">
          {{ colIndex + 1 }}
        </th>
        <th>Sum</th>
      </tr>
      <tr
        *ngFor="let row of matrix; let rowIndex = index; trackBy: cellTrackBy"
      >
        <td>{{ rowIndex + 1 }}</td>
        <td
          (click)="incrementCell(rowIndex, colIndex)"
          (mouseenter)="mouseEnterHover($event, rowIndex, colIndex)"
          (mouseleave)="mouseLeaveHover($event, rowIndex, colIndex)"
          *ngFor="let cell of row; let colIndex = index; trackBy: cellTrackBy"
          [ngClass]="{
            matrix__td__close: closestCells[rowIndex][colIndex]
          }"
        >
          {{ cell }}
        </td>
        <td>{{ arrayOfSum[rowIndex] }}</td>
        <span (click)="deleteRow(rowIndex)" class="matrix__delete-row">x</span>
      </tr>
      <tr>
        <td>Avg</td>
        <td *ngFor="let _ of matrix[0]; let colIndex = index">
          {{ getAvgOfCol(colIndex) }}
        </td>
        <td>{{ getAvgOfSum() }}</td>
      </tr>
    </table>
  </div>
</div>
