<div *ngIf="!!matrixData.matrix[0]?.row?.[0]"
     class="matrix__wrapper">
  <div class="matrix">
    <button (click)="addRow()" class="matrix__btn">Add row</button>
    <table class="matrix__table">
      <tr>
        <th>№</th>
        <th *ngFor="let _ of matrixData.matrix[0].row; let colIndex = index">
          {{ colIndex + 1 }}
        </th>
        <th>Sum</th>
      </tr>
      <tr
        *ngFor="let matrixRow of matrixData.matrix; let rowIndex = index"
      >
        <td>{{ rowIndex + 1 }}</td>
        <td
          (click)="incrementCell(rowIndex, colIndex)"
          (mouseenter)="mouseEnterHover($event, rowIndex, colIndex)"
          (mouseleave)="mouseLeaveHover($event)"
          *ngFor="let cell of matrixRow.row; let colIndex = index"
          [ngClass]="{
            matrix__td__close: matrixData.matrix[rowIndex].row[colIndex].close
          }"

        >
          {{ cell.value }}
        </td>
        <td (mouseenter)="mouseEnterSum($event, rowIndex)"
            (mouseleave)="mouseLeaveSum($event, rowIndex)"
            [style.background]="">{{ matrixData.matrix[rowIndex].sum }}</td>
        <span (click)="deleteRow(rowIndex)" class="matrix__delete-row">x</span>
      </tr>
      <tr>
        <td>Avg</td>
        <td *ngFor="let _ of matrixData.matrix[0].row; let colIndex = index">
          {{ matrixData.avg[colIndex] }}
        </td>
        <td>{{ matrixData.avgOfSum }}</td>
      </tr>
    </table>
  </div>
</div>
